<div data-toggle-id="side-cart" data-toggle-classes="right-0" class="bg-error absolute top-0 right-[-100%] w-[400px] h-screen transition-all -z-1">
    <ul class="flex flex-col">
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
    </ul>
</div>