<div class="absolute top-0 right-0 left-0 pt-12 h-screen w-full flex -z-1">
    <div class="bg-black/50 grow h-full relative"></div>
    <div class="w-80 h-full relative bg-white flex flex-col">
        <div class="bg-grey-4 flex flex-col p-4 justify-center">
            <h3>Shopping Cart</h3>
        </div>
        <button class="p-4 rounded bg-black text-white whitespace-nowrap mt-auto">Continue to checkout</button>
    </div>
</div>