<form class="absolute top-12 inset-x-0 px-16 flex flex-row items-center bg-white text-black">
    <label for="search-bar">Search</label>
    <input id="search-bar" class="flex grow mx-4 my-2 border border-grey-4 px-4 py-1" name="search-bar" type="text" />
    <button type="submit">Go</button>
</form>