// sass-lint:disable no-vendor-prefixes, no-misspelled-properties

@layer utilities {
	.scrollbar-none {
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
